@import '../../../styles/variables';
@import '../../../styles/breakpoints';

$container-max-width: $grid__bp-md * 1.7px;
$container-horizontal-padding: 2rem;

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding-left: $container-horizontal-padding;
  padding-right: $container-horizontal-padding;
  &-fluid {
    margin: 0;
    max-width: 100%;
  }
}
